[target_info]
spec_version = 1.0
identifier = "macOS_AArch64"
author = "NexusFlow Team"

[cpu_arch]
family = "aarch64"
bits = 64
endian = "little"
registers = ["x0", "x1", "x2", "x3", "x4", "x5", "x6", "x7", "x8"]
scratch_regs = ["x16", "x17"]
reserved_regs = ["sp", "fp", "lr"]

[instruction_set]
simd = "neon"
atomic = true
fastexec_support = false # ARM'da farklı bir context yönetimi gerektirir

[memory_model]
page_size = 16384 # Apple Silicon 16KB pages
stack_alignment = 16
default_area_size = 4M
zone_sync_mode = "os_unfair_lock"

[abi_convention]
name = "aapcs64"
shadow_space = 0
return_reg = "x0"
param_regs = ["x0", "x1", "x2", "x3", "x4", "x5", "x6", "x7"]

[output_format]
binary_type = "macho"
object_ext = ".o"
shared_lib_ext = ".dylib"
entry_point = "_main"

[nexus_primitives]
handler_init = "mov x0, #0"
relocate_op = "mov x9, x0; mov x0, x1; mov x1, x9"
